<!DOCTYPE html>
<html lang="zh-CN">

<body background="static/index_files/mr.jpg">

<head>
	<title>fool search</title>
	
</head>

<body class="ac-gn-current-support">
	<div class="Section Section--main">
		<div class="Section-content">
			<div id="main" role="main">
				<div>
					<!-- Start : Input Search Bar -->
					<div class="SearchBar">
						<form action="search" method="get" id="searchForm" class="Search-form">
							<input aria-activedescendant="noSuggestions" aria-autocomplete="list" autocomplete="off" aria-expanded="false" aria-owns="search-suggestions" class="SearchForm-input" id="searchInput" placeholder="fool search" name="text" spellcheck="false" type="text" value="" role="combobox">
							<button class="SearchForm-submit" type="submit">
							</button>
						</form>
					</div>
					<!--  End : Input Search Bar -->
					<div class="SearchResults">
						<div aria-live="polite" role="status" id="updateResultsText">
						</div>
					</div>
				</div>
			</div>
			<!--/main-->
		</div>
	</div>

</body>
</html>
